
<div class="container">
  <h1>Lista De Tarefas</h1>

<div class="input-group">
  <input type="text" class="form-control" placeholder="Tarefa" 
  #valorTextBox (focusout) = "adicionarItem(valorTextBox)" >
</div>
<div class="container-btn">
  <button type="button" class="btn btn-primary" (click)="adicionarItem(valorTextBox)">Inserir</button>
</div>
<br>
<br>
<table class="container-list">
  <tr>
    <th>Tarefas:</th>
  </tr>
  <tr *ngFor="let item of lista">
    <td>{{item}} <button type="button" class="btn btn-danger" (click)="removerItem(item)">Delete</button></td>
  </tr>
</table>
</div>

